body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: #d0e1e1; 
}

.container{
  /*width:95%;*/
  margin:auto;  
  overflow:hidden;
  background-color: #eff5f5;
  border-color: #ccccff;
  border-right-style: solid;
  border-left-style: solid;

  position: relative;
  min-height: 100vh;

}

/*---------------------------------------------------------------------Pocetna stranica ----------------------------------------------*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_grid-column-gap*/
/*div#pocetna_stranica{
  background-color: #d0e1e1;
  margin: auto;
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
}
div#blok{
   background-color: #c1d7d7;
}*/
div#pocetna_stranica{
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  /*background-color: #d0e1e1;*/
  padding: 30px;
}

div#blok{
  background-color: #e6e6ff;  
  border: 1px solid #b1cdcd;
  padding: 20px;
  margin: 0 20px;
  /*font-size: 30px;*/
  text-align: center;
}
div#blok p{
  background-color: #d0e1e1;
  margin: auto;
  padding: 5px 12px;
  width: max-content;
}

div#blok img{
  width:100%;
  opacity: 0.7;
  /*padding: 20px;*/

}

div#opis{
  background-color: #eff5f5;
  font-size: 14px;
  text-align: left;
  margin: 5px 0 20px 0;
  padding: 10px 0 5px 5px;
  /*word-spacing: -1px;*/ /*https://stackoverflow.com/questions/15118540/css-text-align-justify-big-spaces*/ 
  /*word-break: break-all;*/

}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------      to_do_list      ---------------------------------------------------------*/
div#to_do_list{
  margin: auto;
  width: 90%;
  /*background-color: #ffe6e6;*/
}
div#to_do_list ul{
  background-color: #b3b3ff;
  border-left: solid 2px black;
  border-right: solid 2px black;
}
div#to_do_list p{
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
div#to_do_list li{
  /*background-color: #ffe6e6;*/
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

.horizontalno_centriraj_element{
  text-align: center;
  margin: auto;
  width: 50%;
}

.horizontalno_centriraj_text{
  text-align: center;
}

h2{
  font-size: 20px;
  text-align: center;
  background-color: #e0ebeb;
  padding: 5px 5px;
  margin-top: 0;
  /*margin-bottom: 0;*/
  color: #4d4d4d; 
}
/*-------------------------------------------------PRIKAZ DODATNIH PODATAKA---------------------------------------*/
.dodatni_podaci{
  padding: 5px;
  margin-top: 15px;
  border: solid black 1px;
  color: #404040; 
  background-color: #e6ecff;
  margin-bottom: 15px;
}
.dodatni_podaci h3{
  width: 30%;
  font-size: 17px;
  text-align: center;
  background-color: #b3c4ff;
  padding: 5px 5px;
  margin: auto;
  
  color: #595959; 
}

.dodatni_podaci h4{
  width: auto;
  font-size: 16px;
  text-align: left;
  background-color: #ccd8ff;
  padding: 5px 5px;
  margin-top: 15px;
  
  color: #595959; 
}
.dodatni_podaci h5{
  font-size: 15px;
  padding-left: 15px; 
  color: #666666;
  margin: 1px;
}
.dodatni_podaci h5 strong{
  color: #000000;
}
/*------------------------------------------------------------------------------------------------------------------*/
a{
  color: black;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/*float: right;*/
ul#stranice{
  background-color: #c1d7d7;
  margin-top: 1px;
  padding: 10px;
  border-bottom: solid;
  border-color: #a2c3c3;
  margin-bottom: 0;
}

ul#stranice li {
  list-style-type: none;
  margin: 0;
  padding: 5px ;
  padding-right: 10px;
  margin-right: 20px; 
  background-color: #ccccff;
  text-decoration: none;  
  display: inline;
  border-style: outset;
  /*background-color: #ccccff;*/
}

/*------------------------------------------------TABELE, NAMENJENO ZA OSMOSMERKU -----------------------------*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

table {
  background-color: #e0ebeb;
  border: 4px solid #81b1b1;
  margin: auto;
}

th{
  font-size: 18px;
  border: 1px solid white;
  padding-bottom: 4px;
  padding-right: 24px;
  margin:5px;
}

tr{
  /*background-color: #d0e2e2;*/
}


td{
  border: 2px solid #a0c5c5;
  background-color: #b0cfcf;
  /*padding: 15px;*/
  height: 30px;
  width: 30px;
  text-align: center;
}

/*-------------------------------------------------------------------------------------------------------------*/

p{
  font-size: 15px;
  padding:3px;
  margin:3px;
}

p1{
  font-size: 16px;
  padding-left: 30px;
  margin:3px;
}

/*-------------------------------------------PRIKAZ SVIH NE RESENIH RECI IZ OSMOSMERKE-------------------------*/
ul#reci_sa_spiska{
 margin: auto;
 /*width: 95%;*/
 border-top: 3px;
 border-top-color: #72a7a7;
 border-bottom: 3px;
 border-bottom-color: #72a7a7;
 padding-bottom: 5px;
 padding-top: 5px;
 background-color: #e0ebeb;
/*white-space: nowrap;*/
}

ul#reci_sa_spiska li {
  display:inline-block;
  background-color: #b1cece; 
  padding: 5px;
  border: 1px solid #82b0b0;
  margin: 6px 4px;
  text-align: center;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------- DropDown --------------------------------------------------------*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover*/
.dropbtn {
/*  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;*/

  list-style-type: none;
  margin: 0;
  padding: 5px ;
  padding-right: 10px;
  margin-right: 20px; 
  background-color: #ccccff;
  text-decoration: none;  
  display: inline;
  border-style: outset;
}

.dropdown {
  /*float: right;*/
  padding: 0;
  margin: 0;
  /*position: relative;*/
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #e6e6ff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #9999ff;}

/*----------------------------------------------------tablica_baza ----------------------------------------------------------*/
#tablica_baza {
  width: 80%;
  margin: 10px;
  /*padding-top: 10px;*/
}

/*--------------------------------------------------------- Details --------------------------------------------------------*/
/*https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_details_css*/
details{
  margin-bottom: 20px;
}

details > summary {
  padding: 10px 5px 10px 50px;

  width: 200px;
  background-color: #d0e1e1;

  border-top: 1px solid #8c8c8c;
  border-right: 2px solid #737373;
  border-bottom: 2px solid #595959;

  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
  margin-bottom: 15px;
}

details > p {
  background-color: #ffffff;
  padding: 4px;
  padding-left: 25px;
  margin-bottom: 2px;
  box-shadow: 1px 1px 2px #bbbbbb;
  width: 70%;
  color: #333333;
}

/*----------------------------------------------- FOOTER -------------------------------------------------------------------*/
/*https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/#:~:text=A%20footer%20is%20the%20last,is%20taller%20than%20the%20viewport.
*/
  /*#page-container {
    position: relative;
    min-height: 100vh;
  }*/

#content-wrap {
  padding-bottom: 2.5rem;     /*Footer height */
}
#footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
  background-color: #c1d7d7;
}

/*--------------------------------------------------------------------------------------------------------------------------*/

div#greske{
   /*margin-left: 30px; */
   /*margin-top: 30px; */
   margin: 30px 0 30px 30px;
   /*width: 50%; */
   /*background-color: #ff9999;*/
}
div#greske p{
   background-color: #ff9999;
   margin: 5px 0;
}

/*------------------------------------------forma_o_i  - za osmosmerku i interpolaciju--------------------------------------*/

form#forma_o_i{
   padding-left: 30px; 
   width: 50%; 
}

form#forma_o_i #paralelno{
   display: flex;
   margin: 10px;
}

form#forma_o_i label{
  background: #e0ebeb;
  flex: 1;
}

form#forma_o_i input{
  width: 200px;
}

form#forma_o_i #paralelno #prikazi_podatke{
   width: 20px;
}
form#forma_o_i #paralelno #prikazi_puteve{
   width: 20px;
}
form#forma_o_i #paralelno #zapamti_me{
   width: 20px;
}



/*--------------------------------------------------------------------------------------------------------------------------*/